@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');


body {
  background-color: #c5ecbe;
  font-family: 'Yuji Boku', serif;
}

.button {
  padding: 5rem;
}

img {
  width: 80px;
  height: 80px;
}



.App {
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
}
